<a href="https://colab.research.google.com/github/kassiaoliveiraa/colabtech/blob/main/ColabTech_Aula_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conceitos básicos de Python

In [ ]:
# 1. Variáveis e tipos de dados
a = 5  # Inteiro
b = 3.14  # Float
c = "Olá, mundo!"  # String
d = True  # Booleano

In [ ]:
# 2. Estruturas de controle de fluxo
# Condicional
if a > 5:
    print("a é maior que 5")
else:
    print("a é menor ou igual a 5")

a é menor ou igual a 5

In [ ]:
# Laço de repetição
for i in range(9):
    print(f"Iteração {i}")

Iteração 0
Iteração 1
Iteração 2
Iteração 3
Iteração 4
Iteração 5
Iteração 6
Iteração 7
Iteração 8

In [ ]:
# Função
def soma(x, y):
    return x + y

resultado = soma(5, 7)
print(f"Soma: {resultado}")

Soma: 12

In [ ]:
################################################################################

# https://pypi.org/project/pip/
# https://dados.gov.br/dados/conjuntos-dados

In [ ]:
!pip install pandas
!pip install numpy
!pip install matplotlib

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (1.26.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [ ]:
# Importando bibliotecas populares
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Lendo um arquivo CSV
df = pd.read_csv('/complexos-cinematograficos-evolucao-anual.csv', sep=';')
df.head()

,ANO,NOME_COMPLEXO,REGISTRO_ANCINE,MUNICIPIO,UF,STATUS
0,2014,02 P D & ARAUJO EMPRESA CINEMATOGRAFICA LTDA.,19955,JAGUARIÚNA,SP,FECHADO
1,2014,2100 CINEMARK PARK SHOPPING SÃO CAETANO,20449,SÃO CAETANO DO SUL,SP,ABERTO
2,2014,2101 CINEMARK SHOPPING UBERLÂNDIA,21561,UBERLÂNDIA,MG,ABERTO
3,2014,2103 CINEMARK MOOCA PLAZA SHOPPING,20598,SÃO PAULO,SP,ABERTO
4,2014,2104 CINEMARK BOULEVARD LONDRINA,24767,LONDRINA,PR,ABERTO

In [ ]:
df.describe()

                ANO  REGISTRO_ANCINE
count  17892.000000     17892.000000
mean    2019.944389     19315.247094
std        3.399028     14006.026283
min     2014.000000       436.000000
25%     2017.000000      6602.000000
50%     2020.000000     17467.000000
75%     2023.000000     27981.000000
max     2025.000000     60556.000000

In [ ]:
# Acessando uma coluna específica
REGISTRO_ANCINE = df['REGISTRO_ANCINE']
print(f"Coluna REGISTRO_ANCINE:\n{REGISTRO_ANCINE}")

Coluna REGISTRO_ANCINE:
0        19955
1        20449
2        21561
3        20598
4        24767
         ...
17887    51081
17888    25924
17889    16498
17890     6600
17891    18453
Name: REGISTRO_ANCINE, Length: 17892, dtype: int64

In [ ]:
# Acessando linhas específicas
primeira_linha = df.iloc[0]
print(f"Primeira linha:\n{primeira_linha}")

Primeira linha:
ANO                                                         2014
NOME_COMPLEXO      02 P D & ARAUJO EMPRESA CINEMATOGRAFICA LTDA.
REGISTRO_ANCINE                                            19955
MUNICIPIO                                             JAGUARIÚNA
UF                                                            SP
STATUS                                                   FECHADO
Name: 0, dtype: object

In [ ]:
#Listas
#As listas são coleções mutáveis ​​que podem conter diferentes tipos de elementos.

# Criando uma lista
lista_exemplo = [1, 2, 3, 4, 5]

# Acessando elementos
primeiro_elemento = lista_exemplo[0]
print(f"Primeiro elemento: {primeiro_elemento}")

# Adicionando elementos
lista_exemplo.append(6)
print(f"Lista após adicionar 6: {lista_exemplo}")

# Removendo elementos
lista_exemplo.remove(3)
print(f"Lista após remover 3: {lista_exemplo}")

# Fatiamento
sub_lista = lista_exemplo[1:4]
print(f"Sub-lista: {sub_lista}")

Primeiro elemento: 1
Lista após adicionar 6: [1, 2, 3, 4, 5, 6]
Lista após remover 3: [1, 2, 4, 5, 6]
Sub-lista: [2, 4, 5]

In [ ]:
#Tuplas
#As tuplas são coleções imutáveis ​​e podem ser usadas quando você não desejar que os dados sejam alterados.

# Criando uma tupla
tupla_exemplo = (1, 2, 3, 4, 5)

# Acessando elementos
segundo_elemento = tupla_exemplo[1]
print(f"Segundo elemento: {segundo_elemento}")

# Desempacotando uma tupla
a, b, c, d, e = tupla_exemplo
print(f"Elementos desempacotados: {a}, {b}, {c}, {d}, {e}")

Segundo elemento: 2
Elementos desempacotados: 1, 2, 3, 4, 5

In [5]:
#Dicionários
#Os dicionários são coleções mutáveis de pares chave-valor, usadas para armazenar dados que possuem uma associação lógica.

dicionario = {"nome": "Kassia", "idade": 25, "cidade": "Recife"}

# Acessar o valor associado a uma chave
nome = dicionario["nome"]
print(f"Nome: {nome}")

# Usando o método get (evita erro se a chave não existir)
idade = dicionario.get("idade")
print(f"Idade: {idade}")

# Adicionar uma nova chave-valor
dicionario["profissao"] = "Engenheira"

# Atualizar o valor de uma chave existente
dicionario["idade"] = 26

print(dicionario)

Nome: Kassia
Idade: 25
{'nome': 'Kassia', 'idade': 26, 'cidade': 'Recife', 'profissao': 'Engenheira'}